.recipe-category-section {
  // padding-top: 4rem;
  padding-bottom: 0rem;
  padding-inline-start: 2%;
  overflow: hidden;
  .header-section {
    text-align: center;
    position: relative;
    
    h1 {
      font-family: "fiber-vintage";
      font-style: normal;
      font-weight: 700;
      font-size: 2.9rem;
      line-height: 1rem;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  .cards-container {
    width: 100%;
    margin-top: 5%;
    .category-items {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .category-swiper{
        .recipe-card-container-section {
          width: 100%;
          // overflow: hidden;
          height: auto;
        }
      }
     
      .swiper {
        padding-top: 8rem !important;
        .swiper-arrows-container {    
          .swiper-button {
            color: black;
            border: 2px solid rgba($color: black, $alpha: 0.1);
            font-size: 1.5rem;
            cursor: pointer;
          }
        }
      }
      .recipe-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .recipe-button {
          font-family: "somatic-rounded";
          color: white;
          letter-spacing: 0.5px;
          border: 2px solid white;
          border-radius: 1.25rem;
          &:hover {
            color: white;
            background-color: #2a3238;
            border: 2px solid #2a3238;
          }
        }
      }
    }
  }
}
@media (min-width : 1025px) {
  .recipe-category-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    .header-section {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-inline-start: 6%;
      padding-inline-end: 6.5%;
      h1 {
        font-size: 4.2rem;
      }
      .recipe-button {
        font-family: "somatic-rounded";
        color: white;
        letter-spacing: 0.5px;
        border: 2px solid white;
        border-radius: 1.25rem;
        &:hover {
          color: white;
          background-color: #2a3238;
          border: 2px solid #2a3238;
        }
      }
    }
    .cards-container {
      padding-inline-start: 4.5%;
      display: flex;
      flex-wrap: wrap;
      // gap: 1.5rem;

      .card-section {
        width: 23.75%;
        margin-top: 12%;
        padding-bottom: 2rem;
        .recipe-card {
          width: 90%;
        }
      }
    }
    .swiper {
      .swiper-arrows-container {  
        padding-inline-end: 0;  
      }
    }
  }
 
}

