.products-calims-section{
    overflow: hidden;
    margin-top: -6rem;
    .claims-section-header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 5rem;
        .header-container {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding-inline-start: 0rem;
            padding-top: 3rem;
            h1 {
                font-family: "fiber-vintage";
                font-style: normal;
                font-weight: 700;
                font-size: 4rem;
                line-height: 3rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #2A3238;
              }
              span{
                  color:#2A3238;
                  font-size: 1.125rem;
                  line-height: 2rem;
                  width: 90%;
              }
        }
    }
    
    .circle-container {
       // margin-bottom: -9rem;
        width: 50vw;
        height: 50vw;
        background-color: #166938;
        border-radius: 60%;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .big-img-container {
          position: absolute;
          top: -3%;
          left: -9%;
          width: 65vw;
          height: 65vw;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 105%;
            height: 105%;
            object-fit: cover;
          }
        }
        .small-img-container {
          position: absolute;
          left: -18%;
          top: 49%;
          width: 40%;
          height: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
}
@media(min-width : 500px){
  .claims-cards-conatiner .claim-card .card-body .card-circle-container {
    width: 30vw;
    height: 30vw;
}
}
@media(min-width : 600px){
  .claims-cards-conatiner .claim-card .card-body .card-circle-container {
    width: 20vw;
    height: 20vw;
}
}
@media(min-width : 1025px){
    .products-calims-section{
        margin-top: unset;
        display: flex;
        flex-direction: column;
        background-color: white;
        gap: 6rem;
        padding-bottom: 3rem;
        padding-top: 0;
        .claims-section-header{
          padding-bottom: 0rem;
            .header-container {
                display: flex;
                flex-direction: column;
                text-align: start;
                justify-content: center;
                align-items: flex-start;
                gap: 0.5rem;
                padding-inline-start: 6%;
                padding-top: 3rem;
                h1 {
                    font-family: "fiber-vintage";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 4rem;
                    line-height: 3rem;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #2A3238;
                    width: 30%;
                  }
                  span{
                      color:#2A3238;
                      width: 45%;
                      font-size: 1.125rem;
                      line-height: 2rem;

                  }
            }
            
        }
        .claims-cards-conatiner{
            padding-top: unset;
        }
    }
}
